<button type="submit" (click)="login()" *ngIf="signinstatus==false">SignIn</button>
<button type="submit" (click)="logout()" *ngIf="signout==true">SignOut</button>
<div *ngIf="status">   
<form (ngSubmit)="logIn()" *ngIf="loggedIn==false">
  <table>
    <tr>
      <td>
        <label for="username">contactNumber:</label>
      </td>
      <td>
        <input type="text" id="username" name="contactNumber" [(ngModel)]="user.contactNumber" required>
      </td>
    </tr>
    <tr>
      <td>
        <label for="password">Password:</label>
      </td>
      <td>
        <input type="password" id="password" name="password" [(ngModel)]="user.password" required>
      </td>
    </tr>
    <tr>
      <td>
      </td>
      <td>
        <button type="submit">Login</button>
      </td>
    </tr>
  </table>
</form>
</div>
<div *ngIf="loggedIn">
  <app-home></app-home>
</div>